<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gurugedara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gurugedara">
        <activity android:name=".Menu_Teacher"
            android:label="Teacher Menu"></activity>
        <activity android:name=".Teacher_Register" />
        <activity android:name=".Teacher_Login" />
        <activity
            android:name=".Announcement_Student_View"
            android:label="Announcements"
            android:parentActivityName=".Menu_Student">

        </activity>
        <activity
            android:name=".calcuator"
            android:label="Calculator"
            android:parentActivityName=".Menu_Student">

        </activity>
        <activity
            android:name=".ActivitySupport"
            android:label="Support Service"
            android:parentActivityName=".Menu_Student" />
        <activity
            android:name=".UpdatePayment"
            android:label="UPDATE PAYMENT"
            android:parentActivityName=".Payment" />
        <activity
            android:name=".AddPayment"
            android:label="ADD PAYMENT"
            android:parentActivityName=".Payment" />
        <activity
            android:name=".Payment"
            android:label="DO PAYMENT"
            android:parentActivityName=".Menu_Student" />
        <activity
            android:name=".UpdateQuestion"
            android:label="UPDATE QUESTION"
            android:parentActivityName=".QestioBox" />
        <activity
            android:name=".AddQuestion"
            android:label="ADD QUESTION"
            android:parentActivityName=".QestioBox" />
        <activity
            android:name=".QestioBox"
            android:label="QUESTION BOX"
            android:parentActivityName=".Menu_Student" />
        <activity
            android:name=".UpdateNote"
            android:parentActivityName=".ActivityNote" />
        <activity
            android:name=".AddNote"
            android:label="Add Note"
            android:parentActivityName=".ActivityNote" />
        <activity
            android:name=".ActivityNote"
            android:label="Notes"
            android:parentActivityName=".Menu_Student" />
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudyMaterials"
            android:label="STUDY MATERIALS"
            android:parentActivityName=".Menu_Student" />
        <activity
            android:name=".UpdateAddClass"
            android:parentActivityName=".AddClass" />
        <activity
            android:name=".AddActivity"
            android:label="ADD NEW CLASS"
            android:parentActivityName=".AddClass" />
        <activity
            android:name=".AddClass"
            android:label="CLASSES"
            android:parentActivityName=".Menu_Teacher"/>

        <activity android:name=".Menu_Student"
            android:label="Student Menu"/>
        <activity android:name=".Student_Register" />
        <activity android:name=".Student_Login" />
        <activity
            android:name=".UpdateAnnouncement"
            android:parentActivityName=".Announcement" />
        <activity
            android:name=".Add_Announcement"
            android:label="Add Announcements"
            android:parentActivityName=".Announcement" />
        <activity
            android:name=".Announcement"
            android:label="Announcements"
            android:parentActivityName=".Menu_Student" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>